@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

/* CSS reset */
body{
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: beige;
    margin: 0;
    padding: 0;
    background: url('redbg.jpg');
    height: 50vw;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.left{
    font-family: 'Oswald', sans-serif;
    position: absolute;
    left: 34px;
    top: 20px;
    display: inline-block;
    text-align: center;
}

.left div{
    text-align: center;
    font-size: 15px;
}

.left img{
    width: 40px;
    filter: invert(100%);
}

.mid{
    display: block;
    width: 33%;
    margin: 20px auto;
}

.right{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
}

.btn{
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    background-color: black;
    color: beige;
    border: 2px solid beige;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(68, 57, 57);
}

.container{
    border: 2px solid white;
    margin: 70px 70px;
    padding: 50px;
    width: 33%;
    border-radius: 15px;
}

.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
}

.navbar li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 17px;
    font-size: 15px;
}

.navbar li a:hover, a.active{
    color: red;
}

.form_group input{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    display: block;
    width: 300px;
    padding: 7px;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 9px;
    margin: 7px auto;
}

.container h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.container button{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    display: block;
    width: 30%;
    margin: 7px auto;
    border-radius: 20px;
}

.container button:hover{
    color: red;
    background-color: rgb(61, 52, 52);
}